<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>панель администратора</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div>
        <button onclick="document.location='/admin/items'">Список товаров</button>
        <button onclick="document.location='/admin/add'">Добавление товара</button>
        <button onclick="document.location='/admin/color'">Добавление цвета</button>
        <button onclick="document.location='/admin/material'">Добавление материала</button>
        <button onclick="document.location='/admin/creator'">Добавление создателя</button>
        <button onclick="document.location='/admin/type'">Добавление типа</button>
        <button onclick="document.location='/admin/size'">Добавление размера</button>
    </div>
    <div>
        <button onclick="document.location='/'">Выйти</button>
    </div>
</body>
</html>